# App
APP_ENV=dev
PORT=3000
COOKIE_SECRET=B6sBdoxDS8mq4G1d5X_0Ug

# SuperAdmin
SUPERADMIN_USERNAME=admin
SUPERADMIN_PASSWORD=password

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME= gyrat_backend_db
DB_USERNAME= postgres
DB_PASSWORD=al30082004
DB_SCHEMA=public

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Mail
MAIL_HOST= 
MAIL_PORT=
MAIL_SECURE=false
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

# OTP
OTP_URL=
OTP_USERNAME=
OTP_PASSWORD=
OTP_TTL=
OTP_MOB_HASH=


